@import url("https://fonts.googleapis.com/css2?family=Dokdo&display=swap");

/* font-family: 'Dokdo', cursive; */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.wrap {
  width: 320px;
  margin: 0 auto;
}

/* header */
.header_ex {
  width: 100%;
}

.header {
  height: 50px;
}

.header .logo {
  position: relative;
  text-align: center;
  line-height: 50px;
}

.header .ham_btn {
  position: absolute;
  right: 0;
  top: 0;
}

.header .ham_btn img {
  height: 50px;
  width: 50px;
}

.lnb .lnb_menu {
  width: 100%;
  text-align: center;
}

#ham_btn {
  display: none;
}

#ham_btn:checked~.lnb_menu {
  display: none;
}

#ham_btn~.lnb_menu {
  display: block;
}

.lnb_menu_top {
  width: 100%;
  height: 40px;
  /* overflow: hidden; */
  border-bottom: 1px solid #eeeeee;
}

.lnb_menu_top .cart {
  width: 50px;
  float: left;
}

.lnb_menu_top .cart a i {}

.lnb_menu_top .search {
  width: calc(100%-50px);
  line-height: 50px;
  float: left;
}

.lnb .lnb_menu ul {
}

.lnb .lnb_menu ul li {}

.lnb .lnb_menu ul .lnb_menu_new {
  /* line-height: 50px; */
}

.lnb .lnb_menu ul .lnb_menu_new img {
  width: 40px;
}

.lnb .lnb_menu ul .lnb_menu_accessories img {
  width: 50px;
}

.lnb .lnb_menu ul .lnb_menu_sale {
  border-bottom: none;
}

.lnb .lnb_menu ul .lnb_menu_sale img {
  width: 50px;
}

.lnb .lnb_menu ul li {
  height: 50px;
  line-height: 50px;
  box-sizing: border-box;
  border-bottom: 1px solid #eeeeee;
}

.lnb_menu_personal {
  background-color: rgb(150, 199, 176);
  border-bottom: none;
}

.lnb .lnb_menu ul li a {
  font-family: "Dokdo", cursive;
  font-size: 30px;
}


/* footer */
.footer_ex {
  background-color: rgb(156, 133, 91);
  overflow: hidden;
}

.footer {}

.footer .footer_top {}

.footer .footer_top .footer_top_left {
  display: none;
}

.footer .footer_top .footer_top_middle {
  display: none;
}


.footer .footer_top ul {}

.footer .footer_top .footer_top_right ul li {
  display: block;
  width: calc(100%/3);
  height: 50px;
  line-height: 50px;
  float: left;
  text-align: center;
  box-sizing: border-box;
  border-bottom: 1px solid rgb(65, 65, 65);
  padding-bottom: 10px;
  margin-top: 5px;
  /* border-right: #eeeeee; */
  margin-bottom: 15px;
  font-weight: bold;
}

.footer .footer_top ul li a {
  display: block;
  color: rgb(65, 65, 65);
  font-size: 20px;
}

.footer .footer_middle {
  position: relative;
}

.footer .footer_middle .footer_middle_infomation {}

.footer .footer_middle .footer_middle_infomation b {}

.footer .footer_middle .footer_middle_infomation p {
  font-size: 11px;
}

.footer .footer_middle .footer_middle_infomation p a {
  color: rgb(65, 65, 65);
  text-decoration: underline;
}

.footer .footer_middle .footer_middle_infomation .terms {
  overflow: hidden;
  margin: 10px 0;
}

.footer .footer_middle .footer_middle_infomation .terms ul {}

.footer .footer_middle .footer_middle_infomation .terms ul li {
  float: left;
  margin-right: 20px;
}

.footer .footer_middle .footer_middle_infomation .terms ul li a {
  display: block;
  font-size: 15px;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.footer_middle_infomation .terms ul li p {
  height: 18px;
  width: 1px;
  background-color: rgb(65, 65, 65);
}

.footer .footer_middle {}

.footer .footer_middle .footer_middle_sns {
  position: absolute;
  top: 74px;
  right: 0;
}

.footer .footer_middle .footer_middle_sns>div {}

.footer .footer_middle .footer_middle_sns>div a {}

.footer .footer_middle .footer_middle_sns>div a img {
  width: 50px;
  height: 50px;
  border-radius: 15px;
}

.footer .footer_bottom {}

.footer .footer_bottom .footer_bottom_left {
  float: left;
  margin-right: 15px;
}

.footer .footer_bottom .footer_bottom_left a {}

.footer .footer_bottom .footer_bottom_left a img {
  width: 78px;
  height: 60px;
}

.footer .footer_bottom .footer_bottom_right {}

.footer .footer_bottom .footer_bottom_right p {
  display: block;
  font-size: 10px;
  color: rgb(65, 65, 65);
  font-weight: bold;
}

.footer .footer_bottom .footer_bottom_right p span {
  display: none;
}
